<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSPExceptionHandling</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>param1</param-name>
		<param-value>BestJavaInstitute</param-value>
	</context-param>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>javaLive.controller.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImplicitObjetcs</servlet-name>
		<jsp-file>/ImplicitObjetcs.jsp</jsp-file>
		<init-param>
			<param-name>BestJavaInstitute</param-name>
			<param-value>JavaLive</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImplicitObjetcs</servlet-name>
		<url-pattern>/ImplicitObjetcs.jsp</url-pattern>
	</servlet-mapping>
</web-app>